
body {
	width: 1000px;
	margin: auto;
	background-color: tan;
}

.jumbotron-light {
	margin-bottom: 0%; 
	margin-top: 50px; 
	text-align: center;
} 

.container {
	padding-left: 0px; 
	background-color: white;
}

.contact {
	text-align: right;
}

.hexTitle {
	text-align: center;
    font-weight: 24px;
}

.carousel {
	height: 300px; 
	width: 300px;
	left: 350px;
}


#logo {
	height: 200px; 
	width: 500px;
}

#about {
	margin-bottom: 0%; 
	margin-top: 50px; 
	text-align: center;
}